/* CSS declarations go here */
/* http://www.colorcombos.com/color-schemes/275/ColorCombo129.html */

body {
  font-family: sans-serif;
  background-color: #ECECEC;
  /*background-color: #315481;
  background-image: linear-gradient(to bottom, #EEE, #FFF 100%);*/
  background-attachment: fixed;
  color: #606060;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

#myContainer {
  //max-width: 1000px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #ECECEC;
}

#header_container {
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 100;
  min-width: 100px;
}

header {
  background-color: #606060;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}

footer {
  background: #ECECEC;
  color: #DDDDDD;
  height: 50px;
  padding: 15px;
  margin-top: 50px;
}

table {
  margin-top: 10px;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  table-layout: fixed;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.7em;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 30px;
  display: inline-block;
  margin-right: 1em;
  margin-left: 50px;
  font-family: "Palatino";
  font-weight: bold;
  color: #ECECEC;
}

#findorrequestbtn {
  margin-left: 8px;
}

form {
  /*margin-top: 10px;
  margin-bottom: -10px;*/
  position: relative;
}

.new-entry textarea,
.new-entry select,
.new-user input,
.new-entry input {
  box-sizing: border-box;
  padding: 7px 7px;
  background: white;
  border: 1px solid #DEDEDE;
  width: 99%;
  font-size: 1em;
}

.new-entry select {
  width: 90%;
}

.new-entry select,
.new-entry input {
  font-family: Courier;
  font-size: 10pt;
  height: 40px;
}

.new-entry textarea {

}

.new-user input:focus,
.new-entry textarea:focus,
.new-entry input:focus {
  outline: 0;
}

textarea {
  resize: none;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

td {
  vertical-align: text-top;
}

th {
  font-size: 1.07em;
  padding-bottom: 7px;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.upvote, {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;

}

li {
  position: relative;
  list-style: none;
  padding: 3px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-entry textarea,
  .new-entry input {
    padding-bottom: 5px;
  }
}

.upvotebadge {
  color: gray;
}

#errorHintTable {
  margin-top: 130px;
}

#errorHintTable_container {
  padding-top: 20px;
}

/*#errorHintTable tr > td {
  padding-top: 2px;
}*/

.requests_td {
  //text-align: center;
  padding-top: 10px;
}

.errorID_td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  vertical-align: middle;
  font-family: Courier;
  font-size: 10pt;
}

.hints_td {
  padding-top: 3px;
}

.addHint {
  display: none;
}

.addHint_td {
  padding-top: 10px;
  padding-left: 0px;
  margin-left: 0px;
  float: left;
}

.firstErrorRow td {
  vertical-align: top;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
  padding-right: 25px;
}

.count {
  border-left: 1px solid #DDD;
  margin-left: 9px;
  padding-left: 13px;
}

.hintTextbox {
  resize: both;
}

.hintRow {
  display: table-row;
}

.upvote_btn {
  float: left; 
  width: 80px;
  display: table-cell;
}

.upvote_count,
.request_count {
  width: 20px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  display: table-cell;
  padding-top: 6px;
}

.request_btn {
  float: left;
  width: 65px;
  display: table-cell;
}

.hintMsg_subcolumn {
  padding-left: 10px;
  padding-top: 6px;
  font-size: 14px;
  display: table-cell;
}

.hintRow>span {
  vertical-align: top;
}

.error_th {
  text-align: left;
  padding-left: 10px;
}

.hint_th {
  padding-left: 10px;
}

#errorMessage {
  background-color: #E8D1D1;
  color: #d43f3a;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  vertical-align: center;
  font-size: 16px;
  display: none;
}

#userPrompt {
  display: block;
  top: 100px;
  z-index: 999;
  width: 400px;
  height: 100px;
  background-color: #CCC;
  padding-left: auto;
  padding-right: auto;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
}

.modal-dialog {
  margin: auto;
  top: 250px;
}

.modal-backdrop.in {
  background-color: white;
  opacity: 0.8;
}

.modal.in {
   display:block;
}

.feedbackdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: #AAA;
  opacity: 0.4;
  display: none;
  z-index: 998;
}

#feedback-dialog {
  position: fixed;
  z-index: 999;
  background-color: white;
  border: 1px solid #AAA;
  width: 450px;
  height: 255px;
  padding: 10px;
  top: 170px;
  left: 50%;
  margin-left: -225px;
  display: none;
}

.feedbackdescription {
  font-size: 13px;
  color: #909090;
  margin-top: 10px;
  margin-bottom: 5px;
}

#loginInfo_td {
  position: absolute;
  top: 50%;
  margin-top: 5px;/* half of #content height*/
  left: 0;
  width: 100%;
}

#loginInfo {
  width: 300px;
  position: absolute;
  right: 0px;
  padding: 5px;
  padding-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  height: 30px;
  text-align: right;
  color: #777;
  font-style: italic;
  font-size: 12px;
  vertical-align: text-bottom;
}

#loginError {
  margin-top: 15px;
  color: #900C0C;
  display: none;
}

#errorHintTable .btn {
  padding: 4px 8px;
}

.btn-default,
.btn-default:focus {
  color: #6194BC;
  background-color: #D0EAFF;
  border-color: #90C0E0;
}

.btn-default:hover,
.btn-default:active {
  background-color: #C7E0F7;
  border-color: #90C0E0;
  color: #6194BC;
}

.upvoted,
.upvoted:hover,
.upvoted:active,
.upvoted:focus {
  background-color: #F2F2F2;
  border: 1px solid #BDBDBD;
  color: #BDBDBD;
}

.requested,
.requested:hover,
.requested:active,
.requested:focus {
  background-color: #6194BC;
  border: 1px solid #70B0C0;
  color: #ECECEC;
}

.affix {
  top: 135px;
  right: 50px;
  width: 250px;
  background-color: #D0EAFF;
  border: 1px solid #6194BC;
  height: 270px;
  padding: 10px;
  padding-top: 10px;
}

.affix textarea {
  margin-top: 10px;
  margin-bottom: 5px;
}

h5 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

#feedbackButton {
  float: right;
  margin-right: 5px;
}

/*.notrequested {
  background-color: #ECE0F8;
  border: 1px solid #CCC0D8;
}
*/
/*.upvoted:hover,
.upvoted:active,
.upvoted:focus {
  background-color: #BB5588;
}*/
